body{
    margin: 0%;
    padding: 0;
    background-color: rgb(74, 80, 80);
}

li{
    background-color: rgb(51, 58, 58);
    align-items: baseline;
    border: 20px;
    display: block;
    l
}