body{
    margin: 0;
    padding: 0%;
    background-color: rgb(123, 143, 163);
}
h2{
    color: rgb(255, 255, 255);
    
}
div{
    
    margin: 20px;
    align-items: center;
}
data{
    color: rgb(255, 251, 0);
    padding: 10px 20px;
    display:table-row;
}
.dataname{
     padding: 20px;
    margin: 20px;
    align-items: center;
}
button{
    background-color: rgb(255, 255, 255);
  
    margin: 10px;
    color: rgb(0, 0, 0);
    background-color: rgb(0, 194, 65);
    padding: 10px 40px ;
}

form{
    background-color: rgb(0, 38, 255);
    align-items: center;
    padding: 20px 30px;
    margin: 20%;
    border-color: rgb(226, 18, 18);
}