*{
    counter-reset: none;
    background-color: #2c2e2e;
    font-family: 'Courier New', Courier, monospace;
}
h1{
    color: rgb(0, 255, 76);
    align-items: center;
    margin: 10px;
    padding: 10px 30px;

}


section{
    padding: 20px;
    background-color: rgb(255, 145, 0);
}
.sect1{
    background-color: rgb(114, 132, 143);
}

.sect2{
    background-color: rgb(92, 92, 92);
    margin-bottom: 0px;
    padding-bottom: 100px;
}
article{

    padding: 10px;
    margin: 20px;
    background-color: rgb(172, 172, 172);
}
.progress {
    color: antiquewhite;
    background-color: aqua;
}